<html lang="en">
  <head>
    <link
      href="https://cdn.quilljs.com/1.0.0/quill.snow.css"
      rel="stylesheet"
    />
  </head>
  <%- include('../partials/head.ejs')%>
  <body>
    <%- include('../partials/nav.ejs') %>

    <div class="create-blog content">
      <form action="/blogs" method="POST">
        <label for="title">Blog title:</label>
        <input type="text" id="title" name="title" required />
        <label for="snippet">Blog snippet:</label>
        <input type="text" id="snippet" name="snippet" required />
        <label for="body">Blog body:</label>
        <textarea id="body" name="body" required></textarea>
        <label for="body">Blog image:</label>
        <input type="text" id="image" name="img" required />

        <button>Submit</button>
      </form>
    </div>

    <%- include('../partials/footer.ejs')%>
  </body>
  <script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>
  <script>
    var quill = new Quill("#editor", {
      theme: "snow",
    });
  </script>
</html>
