<html lang="en">
  <%- include("../partials/head.ejs") %>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap"
      rel="stylesheet"
    />
  </head>
  <style>
    #editor {
      border: none;
      width: 1200px;
      scroll-behavior: smooth;
      scroll-snap-align: inherit;
    }
  </style>
  <body>
    <%- include("../partials/nav.ejs") %>

    <div class="details content">
      <h1 id="title" style="margin-bottom: 10px"></h1>

      <h4 style="font-family: 'Open Sans', sans-serif" id="creatorTag"></h4>
      <p
        id="createdat"
        style="position: relative; font-family: 'Open Sans', sans-serif"
      ></p>

      <br />
      <div id="editor"></div>
      <div style="margin-top: 20px"></div>
      <a class="delete" href="/blogs/delete/<%=_id%>">
        <img src="/trashcan.svg" alt="delete icon" />
      </a>
    </div>

    <%- include("../partials/footer.ejs") %>

    <script>
      // const trashcan = document.querySelector("a.delete");
      // trashcan.addEventListener("click", (e) => {
      //   const endpoint = `/blogs/${trashcan.dataset.doc}`;
      //   fetch(endpoint, {
      //     method: "DELETE",
      //   })
      //     .then((response) => response.json())
      //     .then((data) => (window.location.href = data.redirect))
      //     .catch((err) => console.log(err));
      // });

      var quill = new Quill("#editor", {
        theme: "bubble",
        readOnly: true,
      });
      console.log(window.location.pathname.substr(13, 31));
      var options = { params: { id: window.location.pathname.substr(13, 31) } };
      async function getData() {
        await axios.get("/blogs/blogs", options).then((response) => {
          console.log(response.data.blog[0]);
          document.getElementById("title").innerHTML =
            response.data.blog[0].title;
          document.getElementById("createdat").innerHTML =
            "Created AT: " + response.data.blog[0].date;
          document.getElementById("creatorTag").innerHTML =
            "By: " + response.data.blog[0].author;
          quill.setContents(JSON.parse(response.data.blog[0].body));
        });
      }

      getData();
    </script>
  </body>
</html>
