<nav>
  <div class="site-title">
    <a href="/blogs"><h1>Blog Spot</h1></a>
    <p>A Blog Site</p>
  </div>
  <ul>
    <li><a href="/blogs/">Blogs</a></li>
    <!-- <li><a href="/blogs/about">About</a></li> -->

    <%if(!currentUser){%>
    <li><a href="/auth/signup">Signup</a></li>
    <li><a href="/auth/login">Login</a></li>
    <%}%> <%if(currentUser){%>
    <li><a href="/blogs/create">New blog</a></li>
    <li><a href="/auth/logout">Logout</a></li>
    <%}%>
  </ul>
</nav>
