<nav>
  <div class="site-title">
    <a href="/blogs"><h1>Blog Spot</h1></a>
    <p>A Blog Site</p>
  </div>
  <ul>
    <li><a href="/blogs/">Blogs</a></li>
    <li><a href="/blogs/about">About</a></li>
    <li><a href="/auth/login">Login</a></li>
    <li><a href="/blogs/create">New blog</a></li>
  </ul>
</nav>
